* {
	box-sizing: border-box;
}

/*Background*/

body {
  margin: auto;
	width:80%;
}


/*Fonts & Text*/

h2 {
  background-color: #004d80;
  color: #ff1a75;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Bungee Shade', Helvetica, sans-serif;
}

p {
  color: #004d80;
  text-align: left;
  font-weight: normal;
  font-size: 1.2em;
  font-family: 'Old Standard TT', "Times New Roman", serif;
}

/*Links*/

img {
  border: none;
}

a {
  color: #ff1a75;
  font-style: italic;
  font-size: 1em;
  font-family: 'Open Sans', Helvetica, sans-serif;
	text-decoration: none;
}
a:hover {
	color: #004d80;
}

/*Flexbox*/

.item {
   text-align: center;
   font-style: italic;
   font-size: 1em;
   font-family: 'Open Sans', Helvetica, sans-serif;
   background-color: #93D9E6;
	 padding: 10px;
 	 margin: 5px;
}

@media (min-width: 600px) {
	.items {
		display: flex;
		flex-flow: column nowrap;
		grid-area: c;
}

	.sitetitle {
		grid-area: a;
	}

	.text {
		max-width: 70%;
		grid-area: b;
	}

	.imageofme {
		grid-area: d;
	}

	.kittenimage {
		grid-area: e;
	}

	.oldlink {
		grid-area: f;
	}

.article {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 5px;
	grid-template-areas:
		"a a"
		"c b"
		"c f"
		"e d"
}

}

@media (min-width: 800px) {
	.items {
	  display: flex;
	  flex-flow: row nowrap;
	  justify-content: center;
		padding: 10px;
}

	.article {
		display: grid;
		grid-template-columns: 2fr 4fr 1fr;
		grid-gap: 10px;
		grid-template-areas:
			"a a a"
			"c c c"
			"b b b"
			"e f d";
	}
}

@media (min-width: 1200px) {

	.article {
		display: grid;
		grid-template-columns: 10% 40% 40% 10%;
    grid-gap: 10px;
    grid-template-areas:
				". a a ."
				". f b ."
				". c c ."
				". d e .";
	}
}
