* {
	box-sizing: border-box;
}

/*Background*/

body {
  margin: auto;
  width: 50%;
  background-image: url("triangles.png");
}

div {
  background-color: white;
}

/*Fonts & Text*/

h2 {
  background-color: #004d80;
  color: #ff1a75;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Bungee Shade', Helvetica, sans-serif;
}

p {
  color: #004d80;
  text-align: left;
  font-weight: normal;
  font-size: 1.2em;
  font-family: 'Old Standard TT', "Times New Roman", serif;
}

/*Links*/

img {
  border: none;
}

a {
  color: #ff1a75;
  font-style: italic;
  font-size: 1em;
  font-family: 'Open Sans', Helvetica, sans-serif;
	text-decoration: none;
}
a:hover {
	color: #004d80;
}

/*Flexbox*/

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
	padding: 10px;
}

.item {
   text-align: center;
   font-style: italic;
   font-size: 1em;
   font-family: 'Open Sans', Helvetica, sans-serif;
   background-color: #93D9E6;
	 padding: 10px;
 	 margin: 5px;
}

@media (min-width: 600px) {
	.container {
		flex-flow: row nowrap;
	}
}
