body {
  margin: auto;
  width: 50%;
  background-image: url("triangles.png");
}

div {
  background-color: white;
}

h2 {
  background-color: #004d80;
  color: #ff1a75;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Bungee Shade', Helvetica, sans-serif;
}

p {
  color: #004d80;
  text-align: left;
  font-weight: normal;
  font-size: 1.2em;
  font-family: 'Old Standard TT', "Times New Roman", serif;
}

ul {
  margin: 0;
  padding: 0;
  width: 50%;
  background-color: #93D9E6;
  border: 1px solid #004d80;
}

li {
  list-style-type: none;
  text-align: center;
  font-style: italic;
  font-size: 1em;
  font-family: 'Open Sans', Helvetica, sans-serif;
  border: 1px solid #004d80;
}

li a {
    display: block;
    color: #ff1a75;
    text-decoration: none;
}

li a:hover {
    background-color: #ff1a75;
    color: #004d80;
}

img {
  border: none;
}

a {
  color: #ff1a75;
  font-style: italic;
  font-size: 1em;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
